<div class="text-center d-flex align-items-center justify-content-center vh-100" style="padding-top:40px;padding-bottom:40px;background-color: #f5f5f5;">
	<main class="form-signin">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>
      <div class="field form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,id: :floatingInput, class:'form-control', placeholder: 'name@example.com' %>
        <%= f.label :email, 'Email Address', for:'floatingInput' %>
      </div>

      <div class="field form-floating">
        <%= f.password_field :password, autocomplete: "current-password", id: :floatingPassword, class:'form-control', placeholder: 'Password' %>
        <%= f.label :password, 'Password', for:'floatingInput' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field checkbox mb-3">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <p class="mt-5 mb-3 text-muted"><%= render "devise/shared/links" %></p>
    <% end %>
	</main>
</div>
